<p>student works!</p>

{{ studentStatus }} <br><br>

<button (click)="toggle()">Click here to toggle</button>

<button [disabled]="!buttonStatus">Toggle Button</button><br><br>

<label>
  <input [(ngModel)]="name" type="text" placeholder="Enter Name..."/>
  <button (click)="sendToParent()">Add</button>
</label>
<br>

<h2> Student Name: {{name}}</h2>

<div [formGroup]="studentForm">
  <input type="text" placeholder="Enter name" formControlName="studName">
  <input type="email" placeholder="Enter Email" formControlName="email">
  <input type="text" placeholder="Enter Address" formControlName="address">
  <button (click)="submit()" [disabled]="!this.studentForm.valid">Add Student</button>
</div>
