<!--<div>-->
<!--  <h1> Variables</h1>-->
<!--  <hr>-->
<!--  <h1>Hello World</h1>-->

<!--  <p>This is a paragraph.</p>-->

<!--  <div id="container" style="border: rebeccapurple solid;">This is some text inside a container.</div>-->
<!--</div>-->

<!--<br>-->

<!--<div class="nesting">-->
<!--  <h1> Nesting </h1>-->
<!--  <hr>-->
<!--  <nav>-->
<!--    <ul>-->
<!--      <li><a href="#">HTML</a></li>-->
<!--      <li><a href="#">CSS</a></li>-->
<!--      <li><a href="#">SASS</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</div>-->

<!--<br>-->

<!--<div class="parent-selector">-->
<!--  <h1>Parent Selector with Adding Suffixes</h1>-->
<!--  <hr>-->
<!--  <div class="accordion">Accordion</div>-->

<!--  <div class="accordion__copy"> accordion__copy </div><br>-->

<!--  <div class="accordion__copy&#45;&#45;open">accordion__copy&#45;&#45;open</div>-->
<!--</div>-->

<!--<div class="placeholder-selector">-->
<!--  <h1>Placeholder Selectors</h1>-->
<!--  <hr>-->

<!--  <button class="action-buttons">Action Button</button>-->
<!--  <button class="reset-buttons">Reset Button</button>-->

<!--</div>-->




 <div class="row">
  <div class="column" style="background-color:#000000;">
    <nav>
      <h2 routerLink="/">My Demo APP</h2>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/teachers">Teacher</a></li>
        <li><a routerLink="/students">Student</a></li>
      </ul>
    </nav>
  </div>
  <div class="column" style="background-color:#fff;">
    <app-status-printer></app-status-printer>
  </div>
  <div class="column" style="background-color: gold;">
    <router-outlet></router-outlet>
  </div>
 </div>
